[submodule "panda"]
	path = panda
	url = ../../jflorchi/panda.git
[submodule "opendbc"]
	path = opendbc
	url = ../../jflorchi/opendbc.git
[submodule "laika_repo"]
	path = laika_repo
	url = ../../commaai/laika.git
[submodule "cereal"]
	path = cereal
	url = ../../jflorchi/cereal.git
[submodule "rednose_repo"]
	path = rednose_repo
	url = ../../commaai/rednose.git
[submodule "third_party/android_headers_9"]
	path = third_party/android_headers_9
	url = ../../incognitojam/android_headers_9
